<h1>Share Post</h1>
<form action="/tweets/{{tweet.id}}/share" method="POST">
  <div class="form-group">
    <label for="description">Edit sharing post</label>
    <textarea class="form-control mb-3" name="description" id="description" cols="20" rows="5" wrap="hard"></textarea>
    <h1>{{tweet.User.name}}'s Post</h1>
    <textarea class="form-control mb-3" name="description1" id="description1" cols="20" rows="5" wrap="hard"
      style="color:blue" readonly>{{tweet.User.name}} {{moment tweet.createdAt}} {{tweet.description}}</textarea>
    <button type=" submit" class="btn btn-secondary float-right">Share</button>
  </div>
</form>