<div class="row">
  <div class="col-md-2 ">
    <div class="text-center">
      <img class="rounded" src="{{user.avatar}}" alt="avatar">
      <h2>{{user.name}}</h2>
      <p>{{user.introduction}}</p>
    </div>


    <ul class="list-unstyled pull-left">
      <li><strong>Tweets:</strong> </li>
      <li><strong>Following:</strong> </li>
      <li><strong>Follower:</strong> </li>
      <li><strong>like</strong></li>
    </ul>
    <button class="btn btn-info">Follow</button>
  </div>

  <div class="col-md-10">
    {{#each user.Tweets}}
    <div class="card mb-3">
      <div class="row m-1">
        <div class="col-md-4 text-center m-auto">
          <img class="rounded ml-2" style="width: 90px;" src="{{this.User.avatar}}" alt="avatar">
        </div>
        <div class="col-md-8">
          <h6><a href="">{{this.User.name}},{{ moment this.createdAt}}</a></h6>
          <p>{{this.description}}</p>
          <a href="" class="mr-1">Reply</a>
          <a href="" class="text-danger">like</a>
        </div>
      </div>

    </div>
    {{/each}}
  </div>

</div>