<div class="row">
  <div class="col-md-2">
    <div class="text-center">
      <img class="rounded" src="{{profile.avatar}}" style="width: 100px;height:100px;" alt="avatar">
      <h2>{{profile.name}}</h2>
      <p>{{profile.introduction}}</p>
    </div>

    <ul class="list-unstyled pull-left">
      <li><strong>Tweets: {{ TweetsCount }}</strong> </li>
      <li><strong><a href="/users/{{profile.id}}/followings" style="color:black;">Following: {{ FollowingsCount }}</a>
        </strong> </li>
      <li><strong><a href="/users/{{profile.id}}/followers" style="color:black;">Follower: {{ FollowersCount }}</a>
        </strong> </li>
      <li><strong><a href="/users/{{profile.id}}/likes" style="color:black;">Like: {{ LikesCount }}</a> </strong></li>
    </ul>
    {{#ifCond profile.id user.id}}
    <a class="btn btn-primary" href="/users/{{profile.id}}/edit" role="button">Edit Profile</a>
    {{else}}
    {{#if this.isFollowed }}
    <form action="/followships/{{profile.id}}?_method=DELETE" method="POST" style="display: contents;"><button
        type="submit" class="btn btn-danger">Unfollow</button></form>
    {{else}}
    <form action="/followships" method="POST" style="display: contents;">
      <input type="hidden" name="id" value="{{profile.id}}">
      <button type="submit" class="btn btn-info">Follow</button></form>
    {{/if}}
    {{/ifCond}}
  </div>

  <div class="col-md-10">
    {{#each tweets}}
    <div class="card mb-3 ml-4">
      <div class="row m-1">
        <div class="col-md-4 text-center m-auto">
          <img class="rounded ml-2" style="width: 100px;height:100px;" src="{{this.User.avatar}}" alt="avatar">
        </div>
        <div class="col-md-8">
          <h6><a href="/users/{{this.User.id}}/tweets">{{this.User.name}},{{ moment this.createdAt}}</a></h6>
          <p>{{this.description}}</p>
          <a href="/tweets/{{this.id}}/replies"><button class="btn"><i class="far fa-comment-dots"
                style="color:blue;"></i>
              <p style="display:inline;color: blue;">({{this.Replies.length}})</p>
            </button></a>
          {{#if this.isLiked}}
          <form action="/tweets/{{this.id}}/unlike" method="POST" style="display: contents;">
            <button class="btn" type="submit"><i class="fas fa-thumbs-up" style="color: red;"></i>
              <p style="display:inline;color: red;">({{this.Likes.length}})</p>
            </button>
          </form>
          {{else}}
          <form action="/tweets/{{this.id}}/like" method="POST" style="display: contents;">
            <button class="btn" type="submit"><i class="far fa-thumbs-up" style="color: red;"></i>
              <p style="display:inline;color: red;">({{this.Likes.length}})</p>
            </button>
          </form>
          {{/if}}
          <a href="/tweets/{{this.id}}/share"><button type="submit" class="btn"><i
                class="fas fa-retweet"></i></button></a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>