<div class="row">
  <div class="col-md-2 ">
    <div class="text-center">
      <img class="rounded" src="{{profile.avatar}}" alt="avatar">
      <h2>{{profile.name}}</h2>
      <p>{{profile.introduction}}</p>
    </div>


    <ul class="list-unstyled pull-left">
      <li><strong>Tweets: {{ TweetsCount }}</strong> </li>
      <li><strong>Following: {{ FollowingsCount }}</strong> </li>
      <li><strong>Follower: {{ FollowersCount }}</strong> </li>
      <li><strong>Like: {{ LikesCount }}</strong></li>
    </ul>
    {{#ifCond profile.id user.id}}
    <a class="btn btn-primary" href="/users/{{profile.id}}/edit" role="button">Edit</a>
    {{else}}
    {{#if this.isFollowed }}
    <form action="/followships/{{profile.id}}?_method=DELETE" method="POST" style="display: contents;"><button
        type="submit" class="btn btn-danger">Unfollow</button></form>
    {{else}}
    <form action="/followships" method="POST" style="display: contents;">
      <input type="hidden" name="id" value="{{profile.id}}">
      <button type="submit" class="btn btn-info">Follow</button></form>
    {{/if}}
    {{/ifCond}}
  </div>

  <div class="col-md-10">
    {{#each profile.Tweets}}
    <div class="card mb-3">
      <div class="row m-1">
        <div class="col-md-4 text-center m-auto">
          <img class="rounded ml-2" style="width: 90px;" src="{{this.User.avatar}}" alt="avatar">
        </div>
        <div class="col-md-8">
          <h6><a href="/users/{{this.User.id}}/tweets">{{this.User.name}},{{ moment this.createdAt}}</a></h6>
          <p>{{this.description}}</p>
          <a href="" class="mr-1">Reply</a>
          <a href="" class="text-danger">like</a>
        </div>
      </div>

    </div>
    {{/each}}
  </div>

</div>